.event-table {
  border: 1px solid var(--primary-pink);
  padding: 0.5rem;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

.event-table-head {
  background-color: var(--primary-pink);
}

.event-table-body-row {
  cursor: pointer;
}

.event-table-head-table-row th div {
  display: flex;
  align-items: center;
}

.event-table-body-row:not(:last-child) {
  border-bottom: 1px solid var(--primary-pink);
}